body {
  background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('../img/background.png');
}
.picker {padding: 19px;}
.picker::after {margin-top: 2px;}
.edit {cursor: context-menu;}
.contextmenu {
  padding: 10px; 
  background-color: blue; 
  width: 15%;
  margin: 0 auto;
}

.contextmenu a {color: white;}
